.bg-blue {
    background-color: #A4FFF7;
    padding-top: 1rem;
}



.load-more-container{
    background-color: #A4FFF7;
    height: 5rem;
    
    & .btn-load-more {
        position: relative;
        bottom: 10rem;
        left: 0;
        text-align: center;
        margin: 0 30%;
        z-index: 16;
        background-color: #03BB85;
        border: none;
        padding: 0.5rem 0;
        border-radius: 10%;
        color: white;
        width: 10rem;
        height: 3rem;
        font-family: 'Sora';
        transition: all 0.5s;
    }
}
.load-more-container:hover {
    & .btn-load-more:hover {
        background-color: #01996b;
        cursor: pointer;
        width: 11rem;
        height: 3.5rem;
        margin: 0 28%;
        transition: all 0.5s;
    }
}

.pagination {
    background-color: #A4FFF7;
    align-content: center;
    padding: 1rem 1rem;
}

@media screen and (min-width: 1200px) {
    .bg-blue {
        column-count: 3;
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .load-more-container {
        background-color: #A4FFF7;
        & .btn-load-more {
            margin: 0% 45%;
            height: 4rem;
            font-size: 1.5rem;
        }
    }

    .load-more-container:hover {
        & .btn-load-more:hover {
            margin: 0% 44.5%;
            height: 4.5rem;
            font-size: 1.5rem;
        }
    }

    .pagination {
        background-color: #A4FFF7;
        align-content: center;
        padding: 1rem 45%;
    }
}