.favouriteTitle {
    background-color: #A4FFF7;
    color: #038554;
    text-align: center;
    font-family: 'Sora';
    padding-top: 1rem;
}
.message {
    font-family: 'Sora';
    font-size: 2rem;
    color:#038554;
    text-align: center;
    padding-top: 5rem;
    background-color: #A4FFF7;
    padding-bottom: 24.5rem;
}