.imageContainer {
    width: 90%;
    margin: 0 4.6%;
    padding: 1.5rem 0;

    & img {
        cursor: pointer;
        width: 100%;
    }

    & .imageControls {
        background-color: #038554;
        height: 4.625rem;
        align-content: center;
        position: relative;
        top: -0.225rem;
        display: inline-block;
        width: 100%;

        & img {
            cursor: pointer;
            
            display: inline-block;
            width: 2rem;

        }

        & .likes-container {
            display: inline-block;
            width: 50%;
            height: 100%;
            padding: 1rem 10%;

            & img, p {
                display: inline-block;
            }

            & p {
                font-size: 2rem;
                margin-left: 1rem;
                position: relative;
                top:-0.2rem
            }
        }
        & .download-container {
            display: inline-block;
            width: 50%;
            padding: 1rem 15%;
        }
    }


}

@media screen and (min-width: 1200px) {
    .imageContainer {
        break-inside: avoid;
        & .imageControls {
            position: relative;
            top: -0.3rem;
        }
    }
}