.imageContainer {
    width: 95%;
    margin: 0 0.5rem;
    padding: 0.5rem 0;

    & .image {
        cursor: pointer;
        width: 100%;
        position: relative;
        z-index: 1;
        margin-bottom: -0.25rem;
    }

    & .imageControls {
        background-color: #038554;
        height: auto;
        padding: 0rem 0;
        position: relative;
        display: flex;
        align-items: top;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100%;

        & img {
            cursor: pointer;

            display: inline-block;
            width: 2rem;

        }

        & .likes-container {
            transition: all 0.5s;
            display: flex;
            width: 50%;
            height: 100%;
            padding: 1rem 15%;
            
            align-items: center;

            & img,
            p {
                display: inline-block;
                font-family: "Sora", serif;
            }

            & p {
                font-size: 2rem;
                margin-left: 1rem;
                line-height: 1;
            }
        }

        & .likes-container:hover, .download-container:hover {
            background-color: #03633e;
            transition: all 0.5s;
            cursor: pointer;
        }

        & .download-container {
            transition: all 0.5s;
            display: inline-block;
            width: 50%;
            height: 50%;
            padding: 1rem 18%;
            position: relative;
            top: 0rem;
            padding-top: 1rem;
            & img {
                padding-top: 0rem;
                margin-left: 1rem;
            }
        }
        & .assignTags {
            width: 100%;
            height: 50%;
            padding: 1rem 1rem;
            & .assignTag {
                border-color: black;
                margin: 0 0.5rem;
            }
            & .assignedTag {
                background-color: #03BB85;
                border: none;
                margin: 0 0.5rem;
            }
            & .assignTag:hover {
                cursor: pointer;
                background-color: #03BB85;
            }
        }
    }
    
}

@media screen and (min-width: 1200px) {
    .imageContainer {
        break-inside: avoid;

        & .imageControls {
            position: relative;
            top: 0rem;
        }
    }
}