.imageContainer {
    width: 90%;
    margin: 0 4.6%;
    padding: 1.5rem 0;

    & img {
        cursor: pointer;
        width: 100%;
    }

    & .imageControls {
        background-color: #038554;
        height: 4.625rem;
        align-content: center;
        position: relative;
        top: -0.225rem;

        & img {
            cursor: pointer;
            margin: 0 20%;
            display: inline-block;
            width: 2rem;
        }
    }


}

@media screen and (min-width: 1200px) {
    .imageContainer {
        break-inside: avoid;
        & .imageControls {
            position: relative;
            top: -0.3rem;
        }
    }
}