header {
  background-color: #005227;
  width: 100%;
  height: 3.75rem;
  text-align: center;
}
header .title, header .like, header a {
  display: inline-block;
}
header .title {
  position: relative;
  top: -0.5rem;
  height: 2rem;
  width: 80%;
  color: white;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
}
header .heart {
  width: 2rem;
  height: 2rem;
  margin-top: 1rem;
  margin-right: 1rem;
  margin-left: 1rem;
  background-size: cover;
}
header .disliked {
  background-image: url("./src/assets/Heart.svg");
}
header .liked {
  background-image: url("./src/assets/like.svg");
}

.searchFilterContainer {
  background-color: #038554;
  width: 100%;
  height: 12.375rem;
  display: inline-block;
  align-content: center;
  align-items: center;
}
.searchFilterContainer .searchContainer, .searchFilterContainer .filterContainer {
  margin-left: 10%;
  display: inline-block;
}
.searchFilterContainer .searchContainer {
  margin-top: 0 0.25rem;
  background-color: white;
  height: 3.5rem;
  width: 80%;
  border: none;
  border-radius: 10%/50%;
  opacity: 0.75;
}
.searchFilterContainer .searchContainer input, .searchFilterContainer .searchContainer img {
  display: inline-block;
}
.searchFilterContainer .searchContainer input {
  margin-left: 5%;
  width: 80%;
  border: none;
}
.searchFilterContainer .searchContainer input:focus {
  outline: none;
}
.searchFilterContainer .searchContainer img {
  position: relative;
  top: 0.75rem;
  height: 2rem;
}
.searchFilterContainer .filterContainer {
  cursor: pointer;
  margin-top: 1.2rem;
  background-color: white;
  opacity: 0.75;
  height: 3.5rem;
  width: 80%;
  text-align: left;
}
.searchFilterContainer .filterContainer p {
  display: inline-block;
  width: 80%;
  font-family: "Inter";
  margin-top: 1rem;
  margin-left: 5%;
}
.searchFilterContainer .filterContainer p .arrowUp {
  background-image: url("./src/assets/ArrowUp.svg");
  background-size: cover;
}
.searchFilterContainer .filterContainer img {
  display: inline-block;
}

.bg-blue {
  background-color: #A4FFF7;
  height: auto;
}

.imageContainer {
  width: 90%;
  margin: 0 4.6%;
  padding: 1.5rem 0;
}
.imageContainer img {
  cursor: pointer;
  width: 100%;
}
.imageContainer .imageControls {
  background-color: #038554;
  height: 4.625rem;
  align-content: center;
  position: relative;
  top: -0.225rem;
}
.imageContainer .imageControls img {
  cursor: pointer;
  margin: 0 20%;
  display: inline-block;
  width: 2rem;
}

footer {
  padding: 1.25rem 1rem;
  background-color: #005227;
  height: 7.9375rem;
}
footer .description-container, footer .socials-container {
  display: inline-block;
  width: 50%;
}
footer .description-container h1, footer .socials-container h1 {
  font-size: 1.5rem;
  color: white;
}
footer .description-container p, footer .socials-container p {
  color: white;
}
footer .description-container img, footer .socials-container img {
  display: inline-block;
}
footer .description-container p {
  font-size: 0.8rem;
  padding-right: 1rem;
  margin-left: 0.5rem;
}
footer .socials-container {
  position: relative;
  top: -1.5rem;
}
footer .socials-container p {
  font-size: 0.8rem;
  display: inline-block;
  margin: 1rem 0 0 0.1rem;
}

.favouriteTitle {
  background-color: #A4FFF7;
  color: #038554;
  text-align: center;
}

.inspect-window {
  position: fixed;
  top: 5rem;
  left: 2.5rem;
  background-color: #005227;
  height: 20rem;
  width: 80%;
  padding: 1rem;
}
.inspect-window p, .inspect-window h2 {
  color: white;
}
.inspect-window .static-data-container {
  display: inline-block;
  width: 50%;
}
.inspect-window .btn-container {
  background-color: #03BB85;
  color: white;
  outline: none;
  border: none;
  border-radius: 20%;
  padding: 0.5rem;
}
.inspect-window .exit {
  border-radius: 50%;
  background-color: #FF0000;
  width: 1.5rem;
  height: 1.5rem;
  position: fixed;
  top: 6rem;
  right: 3.5rem;
}
.inspect-window .exit .icon {
  color: white;
}
.inspect-window .edit-description-container {
  background-color: #038554;
}
.inspect-window .description-field {
  background-color: #038554;
  height: 10rem;
  width: 100%;
  border: none;
  text-align: left;
}

.hide-window {
  display: none;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*# sourceMappingURL=style.css.map */
