header {
  background-color: #005227;
  width: 100%;
  height: 3.75rem;
  text-align: center;
}
header .title, header .like, header a {
  display: inline-block;
}
header .title {
  position: relative;
  top: -0.5rem;
  height: 2rem;
  width: 80%;
  color: white;
  font-size: 24px;
  font-family: "Sora", serif;
  text-align: center;
  cursor: pointer;
}
header .heart {
  width: 2rem;
  height: 2rem;
  margin-top: 1rem;
  margin-right: 1rem;
  margin-left: 1rem;
  background-size: cover;
}
header .disliked {
  background-image: url("./../assets/Heart.svg");
}
header .liked {
  background-image: url("./../assets/Like.svg");
}

.searchFilterContainer {
  background-color: #038554;
  width: 100%;
  height: 12.375rem;
  display: inline-block;
  align-content: center;
  align-items: center;
}
.searchFilterContainer .searchContainer, .searchFilterContainer .filterContainer, .searchFilterContainer .filter {
  margin-left: 10%;
  display: inline-block;
}
.searchFilterContainer .searchContainer {
  margin-top: 0 0.25rem;
  background-color: white;
  height: 3.5rem;
  width: 80%;
  border: none;
  border-radius: 10%/50%;
  opacity: 0.75;
}
.searchFilterContainer .searchContainer input, .searchFilterContainer .searchContainer img {
  display: inline-block;
}
.searchFilterContainer .searchContainer input {
  margin-left: 5%;
  width: 80%;
  border: none;
}
.searchFilterContainer .searchContainer input:focus {
  outline: none;
}
.searchFilterContainer .searchContainer img {
  position: relative;
  top: 0.75rem;
  height: 2rem;
}
.searchFilterContainer .filterContainer, .searchFilterContainer .filter {
  cursor: pointer;
  margin-top: 1.2rem;
  height: 3.5rem;
  width: 80%;
  text-align: left;
  opacity: 0.75;
  font-family: "Sora", serif;
}
.searchFilterContainer .filterContainer p, .searchFilterContainer .filter p {
  display: inline-block;
  width: 80%;
  font-family: "Inter";
  margin-top: 1rem;
  margin-left: 5%;
}
.searchFilterContainer .filterContainer p .arrowUp, .searchFilterContainer .filter p .arrowUp {
  background-image: url("/assets/ArrowUp.svg");
  background-size: cover;
}
.searchFilterContainer .filterContainer img, .searchFilterContainer .filter img {
  display: inline-block;
}
.searchFilterContainer .filterContainer .option-selected, .searchFilterContainer .filter .option-selected {
  background-color: white;
  opacity: 0.75;
  height: 3.5rem;
}
.searchFilterContainer .filterContainer .options, .searchFilterContainer .filter .options {
  background-color: white;
  position: absolute;
  z-index: 10;
  width: 80%;
  opacity: 1;
}
.searchFilterContainer .filterContainer .options .option-container, .searchFilterContainer .filter .options .option-container {
  background-color: white;
  opacity: 1;
  width: 80%;
  height: 3.5rem;
}
.searchFilterContainer .filterContainer .options .arrow-icon, .searchFilterContainer .filter .options .arrow-icon {
  position: absolute;
  top: 1.25rem;
  right: 12%;
}

@media screen and (min-width: 1200px) {
  .searchFilterContainer .searchContainer {
    border-radius: 2.5%/50%;
  }
  .searchFilterContainer .searchContainer input {
    width: 90%;
    text-align: center;
    font-family: "Sora";
    padding-right: 1%;
  }
  .searchFilterContainer .filter {
    padding-left: 1rem;
  }
}
.bg-blue {
  background-color: #A4FFF7;
  padding-top: 1rem;
}

.load-more-container {
  background-color: #A4FFF7;
  height: 5rem;
}
.load-more-container .btn-load-more {
  position: relative;
  bottom: 10rem;
  left: 0;
  text-align: center;
  margin: 0 30%;
  z-index: 16;
  background-color: #03BB85;
  border: none;
  padding: 0.5rem 0;
  border-radius: 10%;
  color: white;
  width: 10rem;
  height: 3rem;
  font-family: "Sora";
  transition: all 0.5s;
}

.load-more-container:hover .btn-load-more:hover {
  background-color: #01996b;
  cursor: pointer;
  width: 11rem;
  height: 3.5rem;
  margin: 0 28%;
  transition: all 0.5s;
}

@media screen and (min-width: 1200px) {
  .bg-blue {
    column-count: 3;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .load-more-container {
    background-color: #A4FFF7;
  }
  .load-more-container .btn-load-more {
    margin: 0% 45%;
    height: 4rem;
    font-size: 1.5rem;
  }
  .load-more-container:hover .btn-load-more:hover {
    margin: 0% 44.5%;
    height: 4.5rem;
    font-size: 1.5rem;
  }
}
.imageContainer {
  width: 95%;
  margin: 0 0.5rem;
  padding: 0.5rem 0;
}
.imageContainer .image {
  cursor: pointer;
  width: 100%;
  position: relative;
  z-index: 1;
  margin-bottom: -0.25rem;
}
.imageContainer .imageControls {
  background-color: #038554;
  height: 4.625rem;
  align-content: center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.imageContainer .imageControls img {
  cursor: pointer;
  display: inline-block;
  width: 2rem;
}
.imageContainer .imageControls .likes-container {
  transition: all 0.5s;
  display: flex;
  width: 50%;
  height: 100%;
  padding: 0 10%;
  position: relative;
  align-items: center;
  justify-content: center;
  padding: 0 10%;
}
.imageContainer .imageControls .likes-container img,
.imageContainer .imageControls .likes-container p {
  display: inline-block;
  font-family: "Sora", serif;
}
.imageContainer .imageControls .likes-container p {
  font-size: 2rem;
  margin-left: 1rem;
  line-height: 1;
}
.imageContainer .imageControls .likes-container:hover, .imageContainer .imageControls .download-container:hover {
  background-color: #03633e;
  transition: all 0.5s;
  cursor: pointer;
}
.imageContainer .imageControls .download-container {
  transition: all 0.5s;
  display: inline-block;
  width: 50%;
  height: 100%;
  padding: 0rem 20%;
  position: relative;
  top: 0rem;
}
.imageContainer .imageControls .download-container img {
  padding-top: 1.25rem;
  margin-left: 1rem;
}

@media screen and (min-width: 1200px) {
  .imageContainer {
    break-inside: avoid;
  }
  .imageContainer .imageControls {
    position: relative;
    top: 0rem;
  }
}
footer {
  position: absolute;
  z-index: 14;
  width: 100%;
  padding: 1.25rem 1rem;
  background-color: #005227;
  height: 7.9375rem;
}
footer .description-container,
footer .socials-container {
  display: inline-block;
  width: 50%;
}
footer .description-container h1,
footer .socials-container h1 {
  font-size: 1.25rem;
  color: white;
  font-family: "Sora", serif;
}
footer .description-container p,
footer .socials-container p {
  color: white;
  font-family: "Sora", serif;
  font-size: 0.5rem;
}
footer .description-container img,
footer .socials-container img {
  display: inline-block;
}
footer .description-container p {
  font-size: 0.8rem;
  padding-right: 1rem;
  margin-left: 0.5rem;
  font-family: "Sora", serif;
}
footer .socials-container {
  position: relative;
  top: -1.5rem;
}
footer .socials-container p {
  font-size: 0.8rem;
  display: inline-block;
  margin: 1rem 0 0 0.1rem;
  font-family: "Sora", serif;
}

.shadow-up {
  box-shadow: 0px -200px 300px 200px rgb(0, 0, 0);
}

@media screen and (min-width: 1200px) {
  footer {
    display: flex;
    justify-content: space-between;
  }
  footer .description-container h1 {
    font-size: 2rem;
  }
  footer .description-container p {
    font-size: 1.2rem;
  }
  footer .socials-container {
    position: relative;
    top: -0.5rem;
    width: 20%;
  }
  footer .socials-container p {
    font-size: 1.2rem;
  }
  footer .socials-container img {
    position: relative;
    top: 0.2rem;
    width: 1.4rem;
  }
}
.favouriteTitle {
  background-color: #A4FFF7;
  color: #038554;
  text-align: center;
  font-family: "Sora";
  padding-top: 1rem;
}

.message {
  font-family: "Sora";
  font-size: 2rem;
  color: #038554;
  text-align: center;
  padding-top: 5rem;
  background-color: #A4FFF7;
  padding-bottom: 24.5rem;
}

.inspect-window {
  position: fixed;
  top: 5rem;
  left: 2.5rem;
  background-color: #005227;
  height: 22.5rem;
  width: 80%;
  padding: 1rem;
  z-index: 20;
}
.inspect-window p, .inspect-window h2 {
  color: white;
  font-family: "Sora", serif;
}
.inspect-window .static-data-container {
  display: inline-block;
  width: 50%;
}
.inspect-window .btn-container {
  position: relative;
  top: 1rem;
  left: 1rem;
  background-color: #03BB85;
  color: white;
  outline: none;
  border: none;
  border-radius: 20%;
  padding: 0.5rem;
}
.inspect-window .exit {
  border-radius: 50%;
  background-color: #FF0000;
  width: 1.5rem;
  height: 1.5rem;
  position: relative;
  top: -19rem;
  right: -90%;
}
.inspect-window .exit .icon {
  color: white;
}
.inspect-window .edit-description-container {
  background-color: #038554;
}
.inspect-window .description-field {
  background-color: #038554;
  height: 10rem;
  width: 100%;
  border: none;
  text-align: left;
  resize: none;
  font-family: "Sora", serif;
}

@media screen and (min-width: 1200px) {
  .inspect-window {
    left: 35%;
    width: 30%;
  }
  .inspect-window .btn-container {
    left: 5rem;
  }
  .inspect-window .exit {
    top: -17rem;
    right: -95%;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.title-link {
  text-decoration: none;
  color: inherit;
}

/*# sourceMappingURL=style.css.map */
